<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <form role="info" action="/users/login" th:object="${info}" method="post">
        <div class="mb-3">
            <label th:for="email">이메일</label>
            <input type="email" th:field="*{email}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label th:for="pw" class="form-label">비밀번호</label>
            <input type="password" th:field="*{pw}" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>